html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: $dark;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}
.container {
    max-width: 110rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: $dark;
}
ul {
    list-style: none;
}