html {
  font-size: 62.5%;
  position: relative;
}
body {
  font-size: 1.6rem;
  color: $dark;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
a {
  position: relative;
  text-decoration: none;
  color: $dark;
}
ul {
  list-style: none;
}
