.cart {
    padding-bottom: 10rem;
    &__wrapper {
        grid-template-columns: 4fr 2fr;
        grid-gap: 5rem;
    }
    &__heading {
        h2 {
            text-align: center;
            padding: 5rem;
            background-color: #F6FBFF;
        }
    }
    &__table {
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th,td {
            padding: 2rem 0;
        }
        tr {
            border-bottom: 2px solid #DEDEDE;
        }
    }
    &__product {
        align-items: center;
        &__image {
            width: 20%;
            margin-right: 3rem;
            img {
                width: 80%;
            }
        }
        &__details {
            line-height: 1.1;
        }
    }
    &__quantity {
        text-align: center;
        input {
            width: 40%;
            text-align: center;
            font-weight: 700;
            font-size: 2.5rem;
            outline: none;
        }
        input[type=number]::-webkit-inner-spin-button {
            opacity: 1;
        }
    }
    &__subtotal {
        text-align: center;
    }
    &__remove {
        text-align: center;
        i {
            cursor: pointer;
            color: #AAA8A8;
        }
    }
    &__wrap {
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
    }
    &__coupon {
        input {
            text-transform: uppercase;
            font-weight: 700;
            padding: 1rem;
            outline: none;
        }
    }
}

.totals {
    &__table {
        table, th, td {
            border-bottom: 1px solid #DEDEDE;
            border-top: 1px solid #DEDEDE;
            border-collapse: collapse;
            padding: 1rem;
          }
          th:nth-child(1) {
            border-left: 1px solid #DEDEDE;
          }
          td:nth-child(2) {
            border-right: 1px solid #DEDEDE;
          }
          table {
              text-align: center;
              width: 100%;
              margin-top: 1.5rem;
          }
          th {
              background-color: #F6FBFF;
              width: 40%;
          }
    }
    &__heading {
        font-size: 2.5rem;
    }
    &__button {
        padding: 1rem 0;
                a {
                    width: 100%;
                    text-transform: uppercase;
                    transition: .5s ease;
                    text-align: center;
                }
    }
}