.banner {
    padding: 3rem 2rem;
    @include maxMQ768 {
        padding: unset;
    }
    &__wrapper {
        align-items: center;
        @include maxMQ768 {
            flex-direction: column-reverse;
        }
    }
    &__text {
        > * {
            margin-bottom:2rem ;
        }
       
        @include maxMQ768 {
            width: 90%;
            transform: translateY(-250%);
        }
        @include maxMQ821 {
            padding: 3rem 1rem;
        }
        @include maxMQ520 {
            width: 90%;
            transform: translateY(-120%);
            padding: 2rem 1rem;
        }
        width: 55%;
        padding: 5rem 2rem;
        color: $dark;
        background-color: $light;
        box-shadow: -.5rem .5rem 2rem -.99rem;
        transform: translateX(20%);
        h2 {
            font-size: 6rem;
            line-height: 1;
            @include maxMQ1024 {
                font-size: 5rem;
            }
            @include maxMQ821 {
                font-size: 4rem;
            }
            @include maxMQ520 {
                font-size: 3rem;
            }
        }
        p {
            text-transform: uppercase;
            font-weight: 700;
        }
        a {
            color: $secondary;
            font-weight: 600;
            transition: .5s ease;
        }
        a:hover {
            padding-right: 1rem;
        }
        .span--hover {
            color: $secondary;
            font-weight: 600;
        }
    }
    &__image {
        img {
            width: 100%;
        }
    }
}
.books {
    background-color: #F6FBFF;
    padding: 3rem 2rem 7rem 2rem;
    @include maxMQ768{
        padding-top: unset;
    }
    &__lists {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        @include maxMQ768{
            grid-template-columns: 1fr;
        }
        @include maxMQ1024 {
            grid-template-columns: 1fr;
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            @include maxMQ520 {
                width: 80%;
            }
        }
    }
    &__item {
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        @include maxMQ520 {
            grid-template-columns: 1fr;
        }
    }
    &__context {
        > * {
            margin-bottom: 1rem;
        }
        h2 {
            font-size: 2.2rem;
            line-height: 1.2;
            @include maxMQ1024 {
                font-size: 3rem;
            }
        }
        a {
            color: $secondary;
            font-weight: 600;
            transition: .5s ease;
        }
        a:hover {
            padding-right: 1rem;
        }
        span {
            font-weight: 600;
        }
    }
}