.products {
  &__banner {
    position: relative;
    height: 40rem;
    background: url("/dist/img/utm_background.png") no-repeat center center;
    background-size: cover;
  }
  &__wrapper {
    position: absolute;
    top: 40%;
    align-items: center;
  }
  &__context {
    padding: 0 2rem;
    color: $light;
    line-height: 1.2;
    span {
      font-size: 3rem;
      @include maxMQ520 {
        font-size: 2rem;
      }
    }
    h2 {
      font-size: 7rem;
      @include maxMQ520 {
        font-size: 5rem;
      }
    }
  }
}

.books {
  padding-bottom: 10rem;
  &__pagination {
    padding: 5rem 0;
    p {
      text-transform: uppercase;
    }
  }
}
