.checkout {
    padding: 3rem 0;
    &__wrapper {
        justify-content: space-between;
        gap: 5rem;
        @include maxMediaQuery {
            flex-direction: column;
            padding: 0 1rem;
        }
    }
    &__image {
        width: 80%;
        @include maxMediaQuery {
            width: 100%;
        }
        img {
            width: 70%;
            @include maxMediaQuery {
                width: 100%;
                padding: 0 1rem;
            }
        }
        &__slider {
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: space-evenly;
            img {
                width: 10%;
                background-color: #DEDEDE;
                cursor: pointer;
                @include maxMediaQuery {
                    width: 20%;
                }
            }
        }
    }
    &__context {
        line-height: 1.37;
        h2 {
            font-size: 3.5rem;
        }
        &__price {
            i {
                color: $secondary;
            }
            .fa-heart {
                font-size: 1.2rem;
            }
        }
        &__rate {
            justify-content: space-between;
            span {
                padding: .5rem 1.5rem;
                background-color: #FFF9C5;
                font-weight: 600;
            }
        }
        &__add {
            justify-content: space-between;
            span {
                font-size: 2rem;
                color: $secondary;
                font-weight: 700;
                margin: 0 .5rem;
                cursor: pointer;
            }
            input {
                padding: 1rem;
                border: none;
                outline: 0;
                width: 20%;
                text-align: center;
                background-color: #DEDEDE;
            }
        }
        &__details {
            border-bottom: 1px solid #AAA8A8;
        }
    }
    &__cart {
        span {
            font-weight: 700;
            color: $primary;
        }
        &__items {
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #AAA8A8;
            border-top: 2px solid $primary;
            img {
                background-color: #DEDEDE;
                width: 20%;
            }
            p {
                color: #AAA8A8;
            }
        }
        &__item {
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #AAA8A8;
            img {
                background-color: #DEDEDE;
                width: 20%;
            }
            p {
                color: #AAA8A8;
            }
        }
        &__subtotal {
            justify-content: center;
            border-bottom: 1px solid #AAA8A8;
            padding: 1rem 0;
            span {
                color: #AAA8A8;
                font-weight: 400;
            }
        }
        &__button {
            padding-top: 1.6rem ;
            justify-content: space-evenly;
        }
    }
}

.bundle {
    padding: 5rem 0;
    background-color: #F6FBFF;
    &__wrapper {
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        @include maxMediaQuery {
            flex-direction: column;
        }
    }
    &__image {
        img {
            width: 100%;
        }
    }
    &__context {
        > * {
            margin-bottom: 2rem;
        }
        h2 {
            line-height: 1;
        width: 99%;
        font-size: 7rem;
        }
        p {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}